@model Users

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<form class="row" asp-action="Add" enctype="multipart/form-data">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Create New Mechanic Account</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Mechanic Accounts</a></li>
                            <li class="breadcrumb-item active">New Account</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <input type="datetime" asp-for="Stander.CreatedAt" hidden />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName" asp-for="FirstName"></label>
                                <input type="text" id="inputName" class="form-control" asp-for="FirstName">
                                <span class="text-danger" asp-validation-for="FirstName"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputName" asp-for="LastName"></label>
                                <input type="text" id="inputName" class="form-control" asp-for="LastName">
                                <span class="text-danger" asp-validation-for="LastName"></span>
                            </div>
                            
                            <div class="form-group">
                                <label for="inputName" asp-for="Email"></label>
                                <input type="email" id="inputName" class="form-control" asp-for="Email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputName" asp-for="Address"></label>
                                <input type="text" id="inputName" class="form-control" asp-for="Address">
                                <span class="text-danger" asp-validation-for="Address"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputName" asp-for="PhoneNumber"></label>
                                <input type="number" id="inputName" class="form-control" asp-for="PhoneNumber">
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputName" asp-for="Password"></label>
                                <input id="inputName" class="form-control" asp-for="Password">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputName" asp-for="ProfilePicture"></label>
                                <input type="file" name="formProfile" class="form-control" asp-for="ProfilePicture">
                                <span class="text-danger" asp-validation-for="ProfilePicture"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus" asp-for="PersonalCardFront"></label>
                                <input type="file" name="formPCF" class="form-control" asp-for="PersonalCardFront">
                                <span class="text-danger" asp-validation-for="PersonalCardFront"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus" asp-for="PersonalCardBack"></label>
                                <input type="file" name="formPCB" class="form-control" asp-for="PersonalCardBack">
                                <span class="text-danger" asp-validation-for="PersonalCardBack"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus" asp-for="RentalLicense"></label>
                                <input type="file" name="formRL" class="form-control" asp-for="RentalLicense">
                                <span class="text-danger" asp-validation-for="RentalLicense"></span>
                            </div>
                            <div hidden class="form-group">
                                <label for="inputName" asp-for="UserType"></label>
                                <select id="inputStatus" class="form-control custom-select" asp-for="UserType">
                                    <option value="Mechanic" selected>Mechanic</option>
                                </select>
                                <span class="text-danger" asp-validation-for="UserType"></span>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <div class="col-md-6">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">budget</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            
                            <div class="form-group">
                                <label for="inputName" asp-for="CenterName"></label>
                                <input type="text" id="placeNameInput" class="form-control" asp-for="CenterName">
                                <span class="text-danger" asp-validation-for="CenterName"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputName" asp-for="CenterLocation"></label>
                                <input type="text" id="centerLocation" name="centerLocation" class="form-control" asp-for="CenterLocation" readonly>
                                <span class="text-danger" asp-validation-for="CenterLocation"></span>
                            </div>

                        </div>
                        <div class="card-body" id="map"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Create" class="btn btn-success float-right">
                </div>
            </div>
        </section>
        <!-- /.content -->
    </form>
</div>
<!-- /.content-wrapper -->
<script>
    var map;
    var markers = [];
    var directionsService;
    var directionsRenderer;

    function initMap() {
        directionsService = new google.maps.DirectionsService();
        directionsRenderer = new google.maps.DirectionsRenderer();

        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 15.335416, lng: 44.181946 },
            zoom: 16
        });

        directionsRenderer.setMap(map);

        // Add a click event handler to the map.
        google.maps.event.addListener(map, 'click', function (event) {
            // Get the place name from the input field
            var placeName = document.getElementById('placeNameInput').value;

            if (placeName === '') {
                alert("الرجاء إدخال اسم المكان قبل النقر على الخريطة");
                return;
            }

            // Add a new marker to the map at the clicked location.
            var marker = new google.maps.Marker({
                position: event.latLng,
                map: map,
                title: placeName
            });

            markers.push(marker);

            // Display the latitude and longitude in the input fields

            document.getElementById('centerLocation').value = event.latLng.lat() + ', ' + event.latLng.lng();
        });
    }

</script>